[submodule "coreMQTT"]
	path = coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
[submodule "backoffAlgorithm"]
	path = backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera
